:root {
    --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

html {
    font-size: 16px; /* baseline */
}
body {
    width: 100dvw;
    overflow-x: hidden;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    font-family: "Mona Sans", sans-serif;
}

section {
    width: 100dvw;
}

/* OPTIONAL – bikin feel lebih “zoomed” kayak React */
@media (min-width: 1280px) {
    html {
        font-size: 17px;
    }
}
